#grid-anim .table {
  display: grid;
  max-width: 100%;
  overflow-x: auto;
  grid-template-columns: repeat(28, min-content);
  height: 220px;
}

#grid-anim .field-common {
  box-sizing: border-box;
  display: inline-block;
  max-width: 120px;
  transition: max-width 200ms, padding 200ms;
  overflow:hidden;
}

#grid-anim .header {
  padding: 4px 8px;
  background-color: #009662;
  color: white;
}

#grid-anim .field {
  padding: 8px;
}

#grid-anim .hide-field {
  max-width: 0px;
  padding: 0;
}