#grid-anim .table {
  display: grid;
  max-width: 100%;
  overflow-x: scroll;
  grid-template-columns: repeat(28, max-content);
  grid-template-rows: 80px repeat(auto-fill, 40px);
}

#grid-anim .field-common {
  max-width: 100px;
  overflow-x: hidden;
  width: 100px;
  transition: max-width 200ms, padding 200ms;
}

#grid-anim .header {
  display: flex;
  overflow-y: auto;
  padding: 8px;
  background-color: #009662;
  border-right: 1px solid rgba(54, 54, 54, 0.363);
  color: white;
}

#grid-anim .field {
  padding: 8px;
  border-right: 1px solid #ccc;
}

#grid-anim .hide-field {
  overflow: hidden;
  max-width: 0;
  padding: 8px 0;
  border-right: none;
}