#grid-no-anim .table {
  display: grid;
  max-width: 100%;
  overflow-x: scroll;
  grid-template-columns: repeat(28, 120px);
  grid-template-rows: 80px repeat(auto-fill, 40px);
}

#grid-no-anim .header {
  display: inline-block;
  padding: 4px 8px;
  background-color: #009662;
  color: white;
}

#grid-no-anim .field {
  display: inline-block;
  padding: 8px;
}