#window-table .window {
  max-width: 100%;
  overflow-x: auto;
  transition: max-width 200ms;
  border: 5px solid rgb(212, 212, 212);
  /* height: 50vh; */
}

#window-table table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  transition: transform 200ms;
}

#window-table thead {
  background-color: #009662;
}

#window-table th {
  font-weight: normal;
  position: sticky;
  top: 0;
  text-align: left;
  vertical-align: top;
  background-color: #009662;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.335);
  background-clip: padding-box;
}

#window-table td {
  border: 1px solid rgba(0, 0, 0, 0.212);
}

#window-table td, #window-table th {
  box-sizing: border-box;
  padding: 4px;
  max-width: 120px;
  width: 120px;
}

#window-table tbody tr:hover {
  background-color: #eee;
}

#window-table .field-common {
  max-width: 120px;
  width: 120px;
  overflow: hidden;
}
